body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: #f8f8ff;
	color: #25265e;
	transition: all .3s ease;
	font-family: "Urbanist", serif;
}

.headH {
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	height: 60px;
	box-shadow: 0px 5px 10px rgba(86, 89, 146, 0.05);
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding-inline: 25px;
	border: 1px solid #e8e8e8;
	font-family: "Urbanist", serif;
	z-index: 99;
}

.headH span {
	color: #25265eab;
}

.headI {
	display: flex;
	align-items: center;
	gap: 10px;
}

.headL {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.headI h1 {
	color: #f28430;
	font-family: "Urbanist", serif;
	font-size: 35px;
	font-weight: 820;
	margin-block: 0;
}

h3#titleSec {
  margin-top: 100px;
  font-family: "Urbanist", serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  padding-inline: 25px;
}

.mainCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 20px 10px;
  align-content: center;
}

.secDS,
.secVU,
.secGRN,
.secMES,
.secRM,
.secDT,
.secDP,
.secRMK,
.secRP {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 25px 15px;
  border-top: 5px solid #645bff;;
  box-shadow: 0px 5px 10px rgba(86, 89, 146, 0.05),
  rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;;
  margin: 10px;
  gap: 20px;
  
}

@media (min-width: 768px) {
  .mainCont {
      flex-direction: row; /* Change to row for grid-like layout */
      flex-wrap: wrap; /* Enable wrapping of child elements */
      justify-content: space-between; /* Center the child elements */
  }

  .mainCont > div {
      flex: 1 1 45%; /* Allow children to take 50% of the width */
      max-width: 45%; /* Ensure a max-width of 50% */
  }

  .mainCont > div:first-child {
      flex: 1 1 100%; /* Make the first and last children take full width */
      max-width: 100%; /* Ensure a max-width of 100% */
  }

  .mainCont > div:last-child {
	height: max-content;
  }

}


.secDS {
	flex-direction: row;
}

.secDS input#date {
	width: auto;
}

.secDS>div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.secVU>div,
.secGRN>div,
.secMES>div,
.secRM>div,
.secDT>div,
.secDP>div {
	width: 100%;
}


#vehicle-unloaded,
#vehicle-pending {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.vehicle-pending-row,
.vehicle-unloaded-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}


button {
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	color: #fff;
	padding: 1em 1.8em;
	background: #645bff;
	display: flex;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	font-weight: bold;
	cursor: pointer;
	justify-content: center;
  }
  
  button:hover {
	background-color: #111;
  }

 a.btn  {
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	color: #fff;
	padding: 10px 20px;
	background: #645bff;
	display: flex;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	font-weight: bold;
	cursor: pointer;
	justify-content: center;
	text-decoration: none;
  }
  
  a.btn:hover {
	background-color: #111;
  }

  button.full {
	width: 100%;
  }

button.btn {
	padding: 5px;
	justify-content: center;
	display: flex;
	position: relative;
	margin: 0 5px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	box-shadow: none;
	background-color: #f8f8ff;
	border: 1px solid #e8e8e8;
}

button.btn:hover {
	border-color: #645bff;;
	background-color: #fff;
	box-shadow: 0px 8px 12px rgba(2,30,84,.06), rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;
}

button.btn img {
	height: 25px;
	width: 25px;
}

button.clear, button.verify {
	border-radius: 8px;
 	transition: all .6s ease;
	padding: 9px 10px;
	box-shadow: 0px 8px 12px rgba(2,30,84,.06), rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;
	background-color: #f8f8ff;
	border: 1px solid #e8e8e8;
	transition-duration: .2s;
	cursor: pointer;
	font-weight: 500;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.verify {
	background-color: #e6ffe6;
	transition-duration: .2s;
}


button.clear:hover, button.verify:hover {
	background-color: #fff;
    transition-duration: .2s;
}

label.main {
  margin-right: 10px;
  font-family: "Urbanist", serif;
  font-weight: 500;
}

input {
	padding: 8px;
	margin: 10px 0;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	box-shadow: 0px 8px 12px rgba(2,30,84,.06), rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;
	border-radius: 5px;
}

input:focus {
	outline: none;
	border-color: #645bff;;
}

.inline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-block: 10px;
}

select {
	padding: 8px;
	margin: 10px 0;
	border-radius: 5px;
	flex: 1;
    min-width: 80px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	box-shadow: 0px 8px 12px rgba(2,30,84,.06), rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;
}

select:focus {
	outline: none;
	border-color: #645bff;;
}

input[type="number"] {
	width: 5ch;
}

input[type="text"]:not(#username) {
	width: 10ch;
}

.clear {
	flex-shrink: 0;
}

.secRM select,
.secRP select {
	max-width: 78px;
}

.exportBtn {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 50px;
	max-width: max-content;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	box-shadow: 0px 8px 12px rgba(2,30,84,.06), rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;
	padding: 5px 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

footer {
	display: flex;
	justify-content: center;
	color: #25265eab;
	background-color: #f4f4f5;
	margin-top: 30px;
	border-top: 1px solid #e3e7eb;
}

footer span {
	color: #25265e;
	font-weight: 400;
}

/* Login form */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #e3e7eb;
  box-shadow: 0px 5px 10px rgba(86, 89, 146, 0.05),
  rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;;
  margin: 80px auto;
  max-width: 350px;
  gap: 20px;
}

.top-container {
  background-color: #f4f4f5;
  padding: 25px;
  justify-content: center;
  display: flex;
}

  .bottom-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	overflow: auto;
	padding-inline: 25px;
  }

  .top-box {
	font-family: "Urbanist", serif;
	text-align: center;
	font-weight: 400;
  }

  .top-box h2 {
	margin: 5px;
	font-weight: bold;
  }

  .top-box p {
	color: #25265eab;
  }

  .input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
  }

  .input-container .input-field {
	display: flex;
	flex-direction: column;
	width: 100%;
  }

  .small {
	color: #25265eab;
	font-size: 14px;
  }


  .landing {
	margin: 60px auto 50px;
  padding-block: 25px;
  background-image: url(https://pbs.twimg.com/media/GLsuIvSWcAAYiMN.jpg);
  width: 100vw;
  height: 500px;
  background-repaeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  x: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-overlay {
	width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }

  .heroText {
	position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  }

  .heroText button {
	margin-left: 25px;
  }

  .landing h2 {
	margin: 0;
  color: #fff;
  font-size: 34px;
  font-weight: 900;
  float: left;
  text-wrap: wrap;
  padding-inline: 25px;
  }

  .landing p {
	margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  float: left;
  text-wrap: wrap;
  padding-inline: 25px;
}

  .landing h2 span {
	background-image: linear-gradient(to right, #645bff, #f28430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  @media (min-width: 768px) {
	.landing {
		height: 600px;
	}

	.landing h2 {
		font-size: 64px;
	}

	.landing p {
		font-size: 20px;
	}

	.heroText {
		padding-inline: 50px;
		gap: 50px;
	}
  }

.tools-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
	grid-gap: 20px;
	margin-inline: 25px;
}

.tool-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-inline: 1px solid #e3e7eb;
	box-shadow: 0px 5px 10px rgba(86, 89, 146, 0.05), rgba(86, 89, 146, 0.05) 0px -3px 6px 0px inset;
	text-align: center;
	transition: transform 0.2s;
	border-block-start: 5px solid #645bff;
	border-block-end: 1px solid #e3e7eb;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 15px;
}
.tool-card:hover {
	transform: scale(1.05);
}

.tool-card h3 {
	margin-top: 0;
}

/* Mobile-friendly adjustments */
@media (max-width: 600px) {
	.tools-grid {
		grid-template-columns: 1fr; /* Stack on smaller screens */
	}
}